@model Techno_uus.Models.SportGames

<h1>SpordiMängude loomine</h1>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="SportName" class="control-label"></label>
        <input asp-for="SportName" class="form-control" />
        <span asp-validation-for="SportName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstTeamName" class="control-label"></label>
        <input asp-for="FirstTeamName" class="form-control" />
        <span asp-validation-for="FirstTeamName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HomeTeamPlayers" class="control-label"></label>
        <input asp-for="HomeTeamPlayers" class="form-control" />
        <span asp-validation-for="HomeTeamPlayers" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SecondTeamName" class="control-label"></label>
        <input asp-for="SecondTeamName" class="form-control" />
        <span asp-validation-for="SecondTeamName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SecondTeamPlayers" class="control-label"></label>
        <input asp-for="SecondTeamPlayers" class="form-control" />
        <span asp-validation-for="SecondTeamPlayers" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="GameResult" class="control-label"></label>
        <input asp-for="GameResult" class="form-control" />
        <span asp-validation-for="GameResult" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="HalfTimeScore" class="control-label"></label>
        <input asp-for="HalfTimeScore" class="form-control" />
        <span asp-validation-for="HalfTimeScore" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="SecondHalfTimeScore" class="control-label"></label>
        <input asp-for="SecondHalfTimeScore" class="form-control" />
        <span asp-validation-for="SecondHalfTimeScore" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MatchEndScore" class="control-label"></label>
        <input asp-for="MatchEndScore" class="form-control" />
        <span asp-validation-for="MatchEndScore" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartTime" class="control-label"></label>
        <input asp-for="StartTime" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="HalfTime" class="control-label"></label>
        <input asp-for="HalfTime" class="form-control" />
        <span asp-validation-for="HalfTime" class="text-danger"></span>
    </div>


   
    <div>


       
        {
            <input type="submit" value="Sisesta" class="btn btn-primary" />
        
            <br />
            <a asp-action="Create" asp-controller="SportGame">Mine tagasi loendisse</a>
        }
      
    </div>
</form>


