@model Techno_uus.Models.StudyGroup

@{
	string pealkiri;
	string actionName;

	if (Model.Id == 0)
	{
		pealkiri = "Siseata StudyGroup";
		actionName = "Create";
	}
	else
	{
		pealkiri = "Muuda StudyGroupi";
		actionName = "Edit";
	}
}

<form asp-action="@actionName">
	<div  asp-validation-summary="ModelOnly" class="text-danger"></div>
	

	@if (Model.Id != 0)
	{
		<input type="hidden" asp-for="Id" />
	}

	<div class="form-group">
		<label asp-for="FirstName" class="control-label"></label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="LastName" class="control-label"></label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="StudyStart" class="control-label"></label>
		<input asp-for="StudyStart" type="date" class="form-control" />
		<span asp-validation-for="StudyStart" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="StudyEnd" class="control-label"></label>
		<input asp-for="StudyEnd" type="date" class="form-control" />
		<span asp-validation-for="StudyEnd" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="LeaderPupilId" class="control-label"></label>
		<select asp-for="LeaderPupilId" class="form-control" asp-items="ViewBag.LeaderPupilId">
			<option value="">-- Vali juhtõpilane --</option>
		</select>
		<span asp-validation-for="LeaderPupilId" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="ClassroomInfo" class="control-label"></label>
		<input asp-for="ClassroomInfo" class="form-control" />
		<span asp-validation-for="ClassroomInfo" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Level" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<select asp-for="Level" asp-items="Html.GetEnumSelectList<Techno_uus.Models.StudyGroupLevel>()">
				<option value="">-- Vali tase --</option>
			</select>
			<span asp-validation-for="Level" class="text-danger"></span>
		</div>
	</div>

	<div>
		<input type="submit" value="@(Model.Id == 0 ? "Sisesta" : "Muuda")" class="btn btn-primary" /><br />
		<a asp-action="Index">Mine tagasi loendisse</a>
	</div>
</form>
