@model Techno_uus.Models.ArtGallery 

@{
    ViewData["Title"] = "Esita uus töö";
}

<h1>Esita uus töö</h1>

<form method="post" enctype="multipart/form-data">
    

    <input asp-for="SubmittedAt" type="hidden"/>
    <div class="form-group">
        <label asp-for="PupilName" class="control-label">Õpilase nimi</label>
        <input asp-for="PupilName" class="form-control" />
        <span asp-validation-for="PupilName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PupilId" class="control-label">Õpilase ID</label>
        <input asp-for="PupilId" class="form-control" />
        <span asp-validation-for="PupilId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ArtWorkTitle" class="control-label">Töö nimi</label>
        <input asp-for="ArtWorkTitle" class="form-control" />
        <span asp-validation-for="ArtWorkTitle" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ArtWorkDescription" class="control-label">Kirjeldus</label>
        <input asp-for="ArtWorkDescription" class="form-control"/>
        <span asp-validation-for="ArtWorkDescription" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreationDate" class="control-label">Loomise kuupäev</label>
        <input asp-for="CreationDate" type="date" class="form-control" />
        <span asp-validation-for="CreationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImagePath" class="control-label">Pilt</label>
        <input asp-for="ImagePath" class="from-control" />
        <span asp-validation-for="ImagePath" class="text-danger"></span>
    </div>

   

    <button type="submit" class="btn btn-success">Salvesta</button>
    <a asp-action="Index" class="btn btn-secondary">Tagasi</a>
</form>




