@model IEnumerable<Techno_uus.Models.ArtGallery>

@{
    ViewData["Title"] = "Art Gallery";
}

<h1>Art Gallery</h1>
<table class="table">
    <a asp-action="Create"asp-controller="ArtGallery">Uuus töö</a>
    <thead>
        <tr>
            <th>Autor</th>
            <th>Töö nimi</th>
            <th>Loomise kuupäev</th>
        </tr>
    </thead>

    <tbpdy>
        @foreach (var art in  Model)
        {
            <tr>
                <td>@art.PupilName</td>

                <td>
                    <a asp-action="Details" asp-route-id="@art.ArtId">
                        @art.ArtWorkTitle
                    </a>
                </td>
                <td>@art.CreationDate</td>
            </tr>
        }
    </tbpdy>
</table>